.header {
	height: 74px;
    background-color: #4482FF;
}

.brand {
	height: 50px;
	width: 145px;
}
img.user{
	float: right;
    height: 42px;
    width: 42px;
	border-radius:50% ;
    
}

.header-2 {
	height: 66px;
    background-color: #3E75E6;
}
.dashboard {
	height: 20px;
	width: 81px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	padding: 8px;
}
.jadwal-dokter {
	height: 20px;
	width: 99px;
	color: #C2C0C0;
	font-family: Arial;
	font-size: 16px;
    line-height: 21px;
    padding: 8px;
}
.data-rawat-jalan {
	height: 20px;
	width: 124px;
	color: #D0D0D0;
	font-family: Arial;
	font-size: 16px;
	line-height: 21px;
	padding: 8px;
}

a.overview {
	height: 36px;
	width: 141px;
	color: #535353;
	font-family: Arial;
	font-size: 26px;
	letter-spacing: 1.95px;
	line-height: 39px;
	padding-left: 20px;
	font-weight: bold;
	
}
.selector {
	box-sizing: border-box;
	height: 46px;
	width: 46px;
	border: 1px solid #4358CE;
	border-radius: 0 4px 4px 0;
	float: right;
	background-color: #4358CE;
}
.month {
	box-sizing: border-box;
	height: 46px;
	width: 116px;
	border: 1px solid rgba(67,88,206,0.5);
	border-radius: 4px;
	background-color: #EDF0F9;
	float: right;
	margin-right: 20px;
}
.search {
	box-sizing: border-box;
	height: 46px;
	width: 262px;
	border: 1px solid #4358CE;
	border-radius: 4px;
	float: right;
	background-color: transparent;
}

.year {
		box-sizing: border-box;
		height: 46px;
		width: 105px;
		border: 1px solid rgba(67,88,206,0.5);
		border-radius: 4px;
		float: right;
		background-color: #EDF0F9;
		margin-right: 20px;
}