*{
	margin: 0;
}

.header {
	height: 65px;
	width: 2020px;
	background-color: #4482FF;
}

.logo{
	padding-left: 10px;
	height: 50px;
	width: 155px;
}

.avatar-placeholder {
	padding-left: 850px;
	padding-top: 10px;
}

.ic-change-flag {
	padding-left: 90px;
}

.ic-notif {
	padding-left: 10px;
}

.header label{
	float: right;
	margin-top: -22px;
	padding: 2px;
}

.header input[type=search]{
	float: right;
	margin-top: -20px;
	padding: 2px;
	width: 180px;
	height: 20px;
}

.header-copy {
	height: 60px;
	width: 2020px;
	background-color: #2F57A7;
}

/* css navbar */

.detail-pasien {
	height: 23px;
	width: 123px;
	color: #FFFFFF;
	font-family: Poppins;
	font-size: 16px;
	font-weight: bold;
	padding-left: 30px;
	letter-spacing: 1.2px;
	line-height: 60px;
}

.stacked-group-2 {
	height: 65px;
	width: 82px;
	padding-left: 20px;
}

.stacked-group-4 {
	height: 50px;
	width: 140px;
	padding-left: 375px;
}
.stacked-group-3 {
	padding-left: 1px;

}
.footer24 {
	height: 64px;
	width: 1920px;
}
/*.assesment-keperawata {
	height: 20px;
	width: 217px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 21px;
}

.rencana-asuhan-keper {
	height: 20px;
	width: 217px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 21px;
}

.assesment-kebutuhan {
	height: 20px;
	width: 224px;
	color: #FFFFFF;
	font-family: Poppins;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
}

.catatan-integrated-n {
	height: 20px;
	width: 172px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 21px;
}

.group-12 {
	height: 20px;
	width: 138px;
}

.daftar-terapi-obat {
	height: 20px;
	width: 130px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 21px;
}

.pasien-journey {
	height: 20px;
	width: 105px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 21px;
}*/

/* css navbar */
/* css navbar */


.nav ul{
	height: 64px;
	width: 1920px;
	background-color: #3E75E6;
}

.assesment-keperawata {
	height: 20px;
	width: 99px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 60px;
	padding-top: 22px;
	padding-right: 7px;
	padding-left: 0,20px;
	text-decoration: none;
}

.rencana-asuhan-keper {
	height: 20px;
	width: 99px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 60px;
	padding-top: 22px;
	padding-right: 7px;
	padding-left: 1px;
	text-decoration: none;
}

.assesment-kebutuhan {
	height: 20px;
	width: 81px;
	color: #FFFFFF;
	font-family: Poppins;
	font-size: 14px; 
	font-weight: bold;
	line-height: 60px;
	padding-top: 21px;
	padding-right: 7px;
	padding-left: 1px;
	text-decoration: none;
}

.catatan-integrated-n {
	height: 20px;
	width: 99px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 60px;
	padding-top: 22px;
	padding-right: 7px;
	padding-left: 1px;
	text-decoration: none;
}

.observasi-harian {
	height: 20px;
	width: 99px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 60px;
	padding-top: 22px;
	padding-right: 7px;
	padding-left: 1px;
	text-decoration: none;
}

.daftar-terapi-obat {
	height: 20px;
	width: 99px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 60px;
	padding-top: 22px;
	padding-right: 7px;
	padding-left: 1px;
	text-decoration: none;
}

.pasien-journey {
	height: 20px;
	width: 99px;
	color: #C2C0C0;
	font-family: Poppins;
	font-size: 14px;
	line-height: 60px;
	padding-top: 22px;
	padding-right: 150px;
	padding-left: 1px;
	text-decoration: none;
}

.group-11 {
	height: 40px;
	width: 116px;
}

.selesai {
	height: 17px;
	width: 44px;
	color: #4358CE;
	font-family: "Poppins Medium";
	font-size: 12px;
	letter-spacing: 0.11px;
	line-height: 18px;
	text-align: center;
}

.overview {
	height: 36px;
	width: 141px;
	color: #535353;
	font-family: "Poppins SemiBold";
	font-size: 26px;
	letter-spacing: 1.95px;
	line-height: 30px;
	padding-top: 22px;
	padding-right: 11px;
	padding-left: 35px;
}

.h1 {
	font-family: "Poppins SemiBold";
	font-size: 26px;
	padding-left: 50px; 
}

.h244 {
	font-family: "Poppins SemiBold";
	font-size: 20px;
	padding-left: 10px; 
}

.line100 {
	box-sizing: border-box;
	height: 2px;
	width: 540px;
	border: 2px solid #EDF0F9;
}
.line200 {
	box-sizing: border-box;
	height: 2px;
	width: 613px;
	border: 2px solid #EDF0F9;
}

.rectangle07 {
	padding-top: 20px;
	height: 60px;
	width: 585px;
	border-radius: 4px;
	background-color: #FAFAFA;
}

.h11 {
	font-family: "Poppins SemiBold";
	font-size: 26px;
	padding-left: 100px;
	text-align: right;
	padding-left: 500px; 
}

.h2 {
	font-family: "Poppins SemiBold";
	font-size: 20px;
	padding-left: 70px; 
}

.base {
	height: 42px;
	width: 42px;
	opacity: 0.49;
	background-color: #E8E8E8;
}

/* css navbar */
/* css navbar */
.rectangle {
	height: 125px;
	width: 2020px;
	background-color: #3E75E6;
}

/* css navbar */
.nama-jinny {
	height: 13px;
	width: 73px;
	color: #FFFFFF;
	font-family: Poppins;
	font-size: 10px;
	padding-left: 30px;
	line-height: 10px;
}

.nomor-mr-12345678 {
	height: 13px;
	width: 73px;
	color: #FFFFFF;
	font-family: Poppins;
	font-size: 10px;
	padding-left: 30px;
	line-height: 10px;
}

.jenis-kelamin-pere {
	height: 13px;
	width: 73px;
	color: #FFFFFF;
	font-family: Poppins;
	font-size: 10px;
	padding-left: 30px;
	line-height: 10px;
}
/* css navbar */

.rectangle1 {
	height: 720px;
	width: 1300px;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.group-11 {
	height: 40px;
	width: 116px;
}

.rectangle2 {
	height: 41px;
	width: 261px;
	border-radius: 10px 10px 0 0;
	background-color: #F2F2F2;
}

.simpan {
	height: 40px;	
	width: 116px;
}

.simpan1 {
	height: 40px;	
	width: 200px;
	color: 	#FFFFFF;
	background-color: #4358CE;
}

.simpan2 {
	height: 40px;	
	width: 200px;
	border: 1px solid #CE4343;
	border-radius: 4px;
	color: #CE4343;
	background-color: #FFFFFF;
}

.right1 {
	padding-left: 700px;
	font-family: "Poppins SemiBold";
	font-size: 26px;
	font-weight: bold;

}

.assesment-keperawata2 {
	height: 20px;
	width: 99px;
	color: #C2C0C0;
	font-family: "Poppins Medium";
	font-size: 20px;
	line-height: 60px;
	padding-top: 22px;
	padding-right: 7px;
	padding-left: 0,20px;
	text-decoration: none;
}

.rencana-asuhan-keper2 {
	height: 20px;
	width: 99px;
	color: #3E75E6;
	font-family: "Poppins SemiBold";
	font-size: 20px;
	line-height: 60px;
	padding-top: 22px;
	padding-right: 7px;
	padding-left: 1px;
	text-decoration: none;
}

.one {
	color: #323C47;
	font-family: Poppins;
	font-size: 18px;
	line-height: 30px;
	padding-right: 7px;
	padding-left: 1px;
	text-decoration: none;
	word-spacing: 20px;
}

.two {
	color: #323C47;
	font-family: Poppins;
	font-size: 18px;
	line-height: 30px;
	padding-right: 7px;
	padding-left: 1px;
	text-decoration: none;
	word-spacing: 20px;
}


.three {
	color: #323C47;
	font-family: Poppins;
	font-size: 18px;
	line-height: 30px;
	padding-right: 7px;
	padding-left: 1px;
	text-decoration: none;
	word-spacing: 20px;	
}

.four {
	color: #323C47;
	font-family: Poppins;
	font-size: 18px;
	line-height: 30px;
	padding-right: 7px;
	text-decoration: none;
	word-spacing: 20px;	
}
.five {
	color: #323C47;
	font-family: Poppins;
	font-size: 18px;
	line-height: 40px;
	text-decoration: none;
	word-spacing: 18px;	
}
.six {
	color: #323C47;
	font-family: Poppins;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	word-spacing: 5px;	
}

.group-7 {
	height: 19px;
	width: 103px;
}

.group-15 {
	height: 679px;
	width: 1187px;
}

.footer {
	height: 64px;
	width: 900px;
	background-color: #F8F8FF;
	color: #535353;
	padding-right: 100px;
	line-height: 65px;
	padding-left: 400px;
}

.rectangle12 {
	height: 41px;
	width: 261px;
	border-radius: 50px 50px 0 0;
	background-color: #F2F2F2;
}

.rectangless {
	box-sizing: border-box;
	height: 37px;
	width: 392px;
	border: 1px solid #D0D0D0;
	border-radius: 4px;
	background-color: #F2F2F2;
}

/* css navbar */

/* css navbar */


.group-16 {
	height: 658px;
	width: 614px;
}


.container{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 24px;
	padding-bottom: 10px;
	padding-right: 1000px; 
	/*padding-top: auto;*/
}

.rectangle99 {
	height: 300px;	
	width: 585px;
	border-radius: 5px;
	background-color: #FFFFFF;
}

/* css navbar */

/*tombol-tombolan*/
.pencet {display: inline-block;
    padding: 8px 0px;
    font-size: 16px;
    margin-bottom: 5px;
    width: 100%;
    text-transform: uppercase;
    outline: none;color: #fff;
    background-color: #2770e7;
    border: none;
    text-align: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px #357ae8;
    cursor: pointer;
    font-weight: bold;}
.pencet:hover {background-color: #1553b9}
.pencet:active {background-color: #1553b9;
    box-shadow: 0 5px #1553b9;
    transform: translateY(4px);
    -webkit-transition: all 0.3s;}
.pencet a:visited {color: #fff;
    text-decoration: none;}
.pencet a:link {color: #fff;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s;}


    .rectangle-copy-12 {
	height: 658px;
	width: 613.33px;
	border-radius: 10px;
	background-color: #FFFFFF;
	margin-left: 1150px;
	position: relative;
}

.container2 {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 45px; 
	/*padding-top: auto;*/
}